body {
    background: url("/images/bgnoise.gif");
    font-family: "PT Sans", sans-serif;
}

h1, h2 {
    line-height: 140px;
}

h2 {
    text-align: right;
    font-size: 140%;
}

h2 a {
    font-weight: normal;
}

#top {
    margin-top: 100px;
}

#content {
    background: white;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 50px 20px 50px 145px;
    border: 1px solid #d3d3d3;
}

@media (max-width: 767px) {
    h1 {
        font-size: 160%;
    }

    h2 {
        line-height: 1;
        text-align: left;
        margin-top: 50px;
    }

    #top {
        margin-top: 0;
    }

    #content {
        margin-top: 10px;
        padding-left: 20px;
    }

    .tag-label {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    h1 {
        font-size: 160%;
    }

    #top {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 200%;
    }
}
