<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Rithis Studio LLC" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="http://rithis.com/" />
    <meta property="og:image" content="http://rithis.com/images/logo.png" />
    <meta property="fb:admins" content="1285574047" />
    <meta property="vk:app_id" content="2996491" />

    <title>Rithis Studio LLC</title>

    <!--[if IE 7]><link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome-ie7.css" /><![endif]-->
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/rithis.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span2">
            <img src="/images/logo.png" alt="Rithis Studio" />
        </div>
        <div class="span4">
            <h1>Студия Ритхис</h1>
        </div>
        <div class="span2">
            <h2 class="active">Кто мы?</h2>
        </div>
        <div class="span4">
            <h2><a href="#" onclick="return false;">Что мы можем сделать?</a></h2>
        </div>
    </div>
    <div class="row" id="content">
        <div class="offset2">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="mailto:info@rithis.com"><i class="icon-envelope icon-large"></i> info@rithis.com</a></li>
                <li><a href="tel:+74956603920"><i class="icon-phone icon-large"></i> +7 495 660-39-20</a></li>
                <li><a href="https://github.com/rithis"><i class="icon-github icon-large"></i> rithis</a></li>
                <li><a href="https://elba.kontur.ru/card/rithis"><i class="icon-tag icon-large"></i> ООО Студия &laquo;Ритхис&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% include "metrika.twig" %}
</body>
</html>
